@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Generals */
body {
    background-color: #4C2E10;
    text-align: center;
}

div {
    color: #E7B888;
    font-family: 'Lato', sans-serif;
}

h2 { 
    padding: 3%;
    font-size: xx-large;
}

p {
    padding: 10px;
    margin-bottom: 10px;
}

/* Oerdenado por capas */
/*Contenido principal --> joc-penjat --> intents --> lletres --> lletra --> cronometres --> acabat */
#contenido-principal {
    width: 80%;
    height: 60%;
    margin: 10%;
}

#contenido-principal select {
    background-color: #E7B888;
    color: #4C2E10;
    margin: 5px;
    padding: 5px;
}

option:checked {
    background-color: #4C2E10;
    color: #E7B888;
}

/* select option:hover {
    box-shadow: 0 0 10px 100px green inset;
    color:white;
  }
select option:checked{
    box-shadow: 0 0 10px 100px green inset;
    } */
  

/* 
select:focus > option:hover {
    background-color: yellow;
  } */
/* 
option:hover {
    /* background-color: #4C2E10 !important;
    color: #E7B888; 
    box-shadow: 0 0 10px 100px #1882A8 inset;

} */

#joc-penjat {
    text-align: center;
}

#intents {
    color: #88e7c1;
}

#paraula {
    font-size: xx-large;
    height: 40px;
}

/* Div general de les lletres */
#lletres {
    width: 33%;
    margin-top: 2.5%;
    margin-left: 34%;    
    margin-bottom: 20px;
}

.lletra  {
    display: inline-block;
    width: 30px;
    font-size: 20px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: #E7B888;
    box-shadow: 1.5px 3px #987859;
    border: 1px #E7B888;
    color: #4C2E10;
    font-weight: 600;
} 

.lletra:hover {  /* Al pasar por encima */
    cursor: default;
}

.lletra.correcte {  /* Cuando la letra sea correcta */
    background-color: #368236;
    cursor: default;
    color: #E7B888;
}

.lletra.incorrecte { /* Cuando la letra sea incorrecta */
    background-color: #f53434;
    cursor: default;
    color: #E7B888;
}

/* Cronos */ 
.cronos {
    width: 40%;
    padding-inline: 30%;
}

#crono, #cronoLetra {
    width: 48%;
    float: left;
}

/* Botones empezar & reintentar */
#empezar, #reintentar{
    cursor: pointer;
    color: #4C2E10;
    background-color: #E7B888;
    border-radius: 5px;
    box-shadow: 2px 5px #987859;
    border: 1px #E7B888;
    width: 100px;
    padding: 10px;
    margin: 20px;
}

#empezar:hover, #reintentar:hover{
    cursor: pointer;
}

.reintentar {
    justify-content: center;
}

/* div de cuando acabamos */
#acabat {
    display: none;
}


